:root {
    --primary-orange: hsl(35, 77%, 62%);
    --primary-red: hsl(5, 85%, 63%);
    --neutral-white: hsl(36, 100%, 99%);
    --neutral-gray: hsl(233, 8%, 79%);
    --neutral-dark-gray: hsl(236, 13%, 42%);
    --neutral-very-dark-gray: hsl(240, 100%, 5%);
}